extends ./main

block content
    div.container
        h2 #{title}
        if msg == 1
            div.alert.alert-success Cliente Cadastrado com Sucesso!
        if msg == 2
            div.alert.alert-danger Não foi possível cadastrar o Cliente!
        if msg == 3
            div.alert.alert-success Cliente Alterado com Sucesso!
        if msg == 4
            div.alert.alert-danger Não foi possível alterar o Cliente!
        if msg == 5
            div.alert.alert-success Cliente removido com Sucesso!
        if msg == 6
            div.alert.alert-danger Não foi possível remover o Cliente!
        table.table.table-bordered
            thead
                tr
                    th Nome 
                    th CNPJ 
                    th Telefone 
                    th E-mail
                    th Contato
                    th Ações
            tbody
                each client in clients
                    tr
                        td= client.cliente
                        td= client.cnpj
                        td= client.telefone
                        td= client.email
                        td= client.contato
                        td
                            a(href="/client/edit" + client.id, class="btn btn-info") Editar
                            form(
                                id="formClient"
                                method="POST", 
                                action="/client" + client.id + "/?_method=DELETE",
                                style="display:inline-block")
                                button.btn.btn-danger.ml-1(
                                    type="submit",
                                    onclick="event.preventDefault();if(confirm('Você deseja realmente deletar este cliente?')){document.getElementById('formClient').submit();}") Delete